<%- include("partials/header") %> 

<div class="jumbotron centered">
    <div class="container">
        <h1><%= failedMSG %></h1>
        <hr>
        <a class="btn btn-lg btn-dark" role="button" href="/">Retry</a>
    </div>
</div>

<%- include("partials/footer") %> 